<div class="container d-flex">
  <div class="m-2">
    <%= cl_image_tag @cocktail.photo.key, class: "img-show-page" %>
  </div>
  <div class="m-2">
    <h2><strong><%= @cocktail.name %></strong></h2>
    <p><%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-style-small" do %>
      <i class="far fa-trash-alt"></i>
    <% end %></p>
    <div class="d-flex">
      <p><strong>Ingredients</strong></p> 
      <%= link_to new_cocktail_dose_path(@cocktail), class: "icon-style" do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    </div>
    <% @cocktail.doses.each do |dose| %>
      <div class="d-flex">
        <%= image_tag("martini-icon.png", size: "16x16", class: "mt-1 mr-2") %>
        <p><%= dose.description %> <%= dose.ingredient.name %></p>
        <p><%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-style-small" do %>
          <i class="far fa-trash-alt"></i>
        <% end %><p>
      </div>
    <% end %>  
  </div>
</div>

